<!-- templates/departement_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Liste des départements</title>
</head>
<body>
    <h1>Liste des départements</h1>
    <ul>
        {% for departement in departements %}
        <li><a href="{% url 'departement_detail' departement.id %}">{{ departement.nom }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
