<!-- templates/departement_detail.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Détails du département</title>
</head>
<body>
    <h1>Détails du département {{ departement.nom }}</h1>
    <h2>Liste des étudiants</h2>
    <ul>
        {% for etudiant in etudiants %}
        <li>{{ etudiant.nom }} {{ etudiant.prenom }}</li>
        {% endfor %}
    </ul>
    <h2>Liste des enseignants</h2>
    <ul>
        {% for enseignant in enseignants %}
        <li>{{ enseignant.nom }} {{ enseignant.prenom }}</li>
        {% endfor %}
    </ul>
    <h2>Liste des modules</h2>
    <ul>
        {% for module in modules %}
        <li>{{ module.nom }}</li>
        {% endfor %}
    </ul>
</body>
</html>
