<h1>Supprimer un élément de module</h1>
  <p>Êtes-vous sûr de vouloir supprimer cet élément de module ?</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit">Confirmer la suppression</button>
  </form>
