{% extends 'gestion/main.html' %}
{% load static %}

{% block additional_styles %}<link rel="stylesheet"  href="{% static "/css/etudiant_detail.css" %}">{% endblock %}

    




{% block title %}Détails de l'étudiant {{ etudiant.prenom }} {{ etudiant.nom }}  {{ etudiant.matricule }} {% endblock %}
    
 {% block content %}

 <style>
 h2{
 color:black;}
 
img{
height:150px;
width:150px;
padding-left:200px;
}
body {
  background-color: #f1f1f1; /* Couleur de fond de la page */
  color: #333333; /* Couleur du texte dans la page */
}

 </style>
 <div class=content>
    <h1>Détails de l'étudiant</h1>
    <h2>{{ etudiant.prenom }} {{ etudiant.nom }}</h2>
    <ul>
        <li>Date de naissance: {{ etudiant.date_de_naissance | date:"d-m-Y"}}</li>
        <li>Lieu de naissance: {{ etudiant.lieu_de_naissance }}</li>
        <li>Pays de naissance: {{ etudiant.pays_de_naissance }}</li>
        <li>Département: {{ etudiant.departement }}</li>
        <li>Voie d'accès: {{ etudiant.get_voie_acces_display }}</li>
        <li>Matricule: {{ etudiant.matricule }}</li>
        <li>Nationalité: {{ etudiant.nationalite }}</li>
        <li>Identifiant national: {{ etudiant.identifiant_national }}</li>
        <li>Statut: {{ etudiant.statut }}</li>
        <li>Année d'inscription: {{ etudiant.annee_inscription }}</li>
    </ul>
    
<div class=immg>
    <a  href="{% url 'etudiant-update' matricule=etudiant.matricule %}" ><img src="{% static "/images/modification.png" %}"  alt="modification" ></a>
 
    <a  href="{% url 'etudiant-delete' pk=etudiant.id %}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet étudiant ?')"><img src="{% static "/images/supprimer.jpg" %}"  alt="supprimer" ></a>

<a  href="{% url 'etudiant_detail' etudiant.matricule %}?download=1">
 <img src="{% static "/images/telechargement.jpg" %}" alt="Télécharger le certificat d'inscription"></a>
</div>
    
<br>
<!-- Reste du template... -->

<h3>Modules</h3>
<table>
    <thead>
        <tr>
            <th>Module</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody>
        {% for module in modules %}
        <tr>
            <td>{{ module.nom }}</td>
            <td>
                {% for note in notes %}
                    {% if note.element_module == module %}
                        {{ note.note }}
                    {% endif %}
                {% empty %}
                    Non saisi
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Reste du template... -->

 {% endblock content %}
