<h2>Modification des données d'un étudiant</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" onclick="return confirm('Êtes-vous sûr de vouloir modifier les données de cet étudiant ?')">Enregistrer les modifications</button>
  </form>
  
