{% extends 'gestion/main.html' %}
{% load static %}

{% block additional_styles %}<link rel="stylesheet"  href="{% static "/css/supprimer.css" %}">{% endblock %}
    
    {% block title %}confirmer la supprimation de l'étudiant {{ etudiant.prenom }} {{ etudiant.nom }}  {{ etudiant.matricule }} {% endblock %}
    
 {% block content %}
  <h2>Suppression de l'étudiant</h2>

  <p>Êtes-vous sûr de vouloir supprimer l'étudiant {{ object.nom }} {{ object.prenom }} (matricule: {{ object.matricule }}) ?</p>

  <form method="POST">
    {% csrf_token %}
    <button type="submit" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet étudiant ?')">Confirmer la suppression</button>
    <a href="{% url 'etudiant_detail' matricule=object.matricule %}"  >Annuler</a>
  </form>
  
  {% endblock content %}
  
