{% extends 'gestion/main.html' %}
{% block title %}gestion des departement{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <style>
        .add-button {
            background-color: green;
            color: white;
        }

        .list-button {
            background-color: blue;
            color: white;
        }
    </style>
</head>
<body>
    <h1>Dashboard</h1>

    <button class="add-button" onclick="location.href='{% url 'departement_create' %}'">Ajouter une departement</button>
    <button class="list-button" onclick="location.href='{% url 'departementlist' %}'">Liste des departements</button>
</body>
</html>
 {% endblock content %}
