<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <style>
        .add-button {
            background-color: green;
            color: white;
        }

        .list-button {
            background-color: blue;
            color: white;
        }
    </style>
</head>
<body>
    <h1>Dashboard</h1>

    <button class="add-button" onclick="location.href='{% url 'add' %}'">Ajouter un étudiant</button>
    <button class="list-button" onclick="location.href='{% url 'index' %}'">Liste des étudiants</button>
</body>
</html>
