{% extends 'gestion/main.html' %}
{% load static %}

{% block title %}Accueil - Gestion de la scolarité ESP{% endblock %}

{% block content %}
<div class="hom">
    <h1>Bienvenue sur le système de gestion de la scolarité</h1>
    <h2>École Supérieure Polytechnique (ESP)</h2>

    <p>Bienvenue sur la plateforme de gestion de la scolarité de l'École Supérieure Polytechnique (ESP). Cette application vous permet de gérer facilement les informations et les opérations liées à la scolarité des étudiants.</p>

    <h3>Fonctionnalités de l'application :</h3>
    <ul>
        <li>Gestion des étudiants : ajout, modification et suppression d'étudiants</li>
        <li>Gestion des cours : création, modification et suppression de cours</li>
        <li>Gestion des inscriptions : inscription et désinscription des étudiants aux cours</li>
        <li>Génération de certificats d'inscription</li>
        <li>Consultation des informations des étudiants</li>
    </ul>

    <p>Utilisez le menu de navigation pour accéder aux différentes fonctionnalités de l'application.</p>

    <p>En cas de problème ou de besoin d'assistance, <a href="#"> contacter le service d'assistance de l'école.</p></a>
</div>
    <img class='logo0' src="{% static '/images/logo.jpg' %}" alt="Logo ESP">

{% endblock content %}

