{% extends 'gestion/main.html' %}
{% load static %}

{% block title %}Inscription Etudiant{% endblock %}

{% block additional_styles %}
  <link rel="stylesheet" href="{% static 'css/inscription_etudiant.css' %}">
{% endblock %}

{% block content %}
  <h1>Inscription Etudiant:</h1>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <a href="{% url 'add' %}"><button type="submit">valider et ajouter une autre</button></a>

  </form>
{% endblock %}

