{% extends 'gestion/main.html' %}
{% load static %}

  {% block title %}Liste des étudiants{% endblock %}
    {% block content %}
    
    <link rel="stylesheet"  href="{% static '/css/liste_etudiants.css' %}">
    
    <h1>Liste des étudiants</h1>
	    <table >
        
          <thead>
    <tr>
      <th >nom</th>
      <th >code</th>
      <th >voir details</th>
      <th >modification</th>
      <th >supprimation</th>
    </tr>
  </thead>
  {% for departement in departements %}
  <tbody>
      <td>{{ departement.nom | capfirst}}</td>
      <td>{{ departement.code | capfirst}}</td>
      <td><a href="{% url 'departement_etudiants' nom=departement.nom  %}">᪠ voir plus</a></td>
          <td><a  href="{% url 'departement_update' nom=departement.nom %}" >modification</a></td>
 
    <td><a  href="{% url 'departement_delete' nom=departement.nom %}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet étudiant ?')">supprimer</a></td>

    </tr>

            
        {% empty %}
            <li>Aucun étudiant enregistré</li>
        {% endfor %}
  </tbody>



        {% endblock content %}

