{% extends 'gestion/main.html' %}
{% load static %}

  {% block title %}Liste des étudiants{% endblock %}
    {% block content %}
    
    <link rel="stylesheet"  href="{% static '/css/liste_etudiants.css' %}">
    
    <h1>Liste des étudiants</h1>
	    <table >
        
          <thead>
    <tr>
      <th >nom</th>
      <th >prenom</th>
      <th >matricule</th>
      <th >voir details</th>
    </tr>
  </thead>
  {% for etudiant in etudiants %}
  <tbody>
      <td>{{ etudiant.nom | capfirst}}</td>
      <td>{{ etudiant.prenom | capfirst}}</td>
      <td>{{etudiant.matricule}}</td>
      <td><a href="{% url 'etudiant_detail' matricule=etudiant.matricule  %}">᪠ voir plus</a></td>
    </tr>

            
        {% empty %}
            <li>Aucun étudiant enregistré</li>
        {% endfor %}
  </tbody>


        {% endblock content %}

