{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Page principale{% endblock %}</title>
    
	<link rel="stylesheet"  href="{% static "/css/main.css" %}">
	{% block additional_styles %}{% endblock %}
  </head>
  <body>
    <!-- En-tête -->
    <header>
      <img class="logo1" src="{% static "/images/logo_0.jpg" %}"  alt="Logo de l'organisation">
      <nav>
        <ul>
          <li><a href="{% url 'home' %}">Accueil</a></li>
          <li><a href="{% url 'gestion_etudiant' %}">gestion_etudiant</a></li>
	<li><a href="{% url 'gestion_departement' %}">gestion_departement</a></li>
	<li><a href="{% url 'gestion_modules' %}">gestion_modules</a></li>
		
          <li><a href="{% url 'recherche_etudiant' %}">liste et recherche des etudiants</a></li>
        </ul>
      </nav>
    </header>
    <!-- Contenu principal -->
	<section>
	{% block content %}
        
        
        {% endblock content %}	
		
	</section>
    <!-- Pied de page -->
    <footer>
	
    </footer>
  </body>
</html>
