  <h2>Supprimer la note</h2>
  <p>Êtes-vous sûr de vouloir supprimer cette note ?</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit">Confirmer</button>
    <a href="{% url 'note_list' %}">Annuler</a>
  </form>
