{% extends 'gestion/main.html' %}
{% load static %} 
{% block title %}Liste des étudiants{% endblock %}
{% block content %}


<a href="{% url 'recherche_etudiant' %}"><h2>← liste des etudiants</h2></a>
    
    <link rel="stylesheet"  href="{% static '/css/liste_etudiants.css' %}">
    <form method="get" action="">
    <input type="number" name="nni" placeholder="NNI">
    <input type="number" name="matricule" placeholder="Matricule">
    <input type="date" name="date_naissance" placeholder="Date de naissance">
    <input type="text" name="nom" placeholder="Nom">
    <button type="submit">Rechercher</button>
</form>
</head>
<body>
    <h1>Liste des étudiants</h1>
	    <table >
        
          <thead>
    <tr>
      <th >nom</th>
      <th >prenom</th>
      <th >matricule</th>
      <th >voir details</th>
    </tr>
  </thead>
  {% for etudiant in object_list %}
  <tbody>
      <td>{{ etudiant.nom | capfirst}}</td>
      <td>{{ etudiant.prenom | capfirst}}</td>
      <td>{{etudiant.matricule}}</td>
      <td><a href="{% url 'etudiant_detail' matricule=etudiant.matricule  %}">᪠ voir plus</a></td>
    </tr>

            
        {% empty %}
            <li>Aucun étudiant enregistré</li>
        {% endfor %}
  </tbody>


        {% endblock content %}
</body>
</html>
