/* etudiant_detail.css */

h1 {
<<<<<<< HEAD
  color: #333;
=======
  color: black;
>>>>>>> e14d299 (ahmed)
  font-size: 24px;
  margin-bottom: 10px;
  align-items:center;
}

h2 {
<<<<<<< HEAD
  color: #666;
=======
  color: black;
>>>>>>> e14d299 (ahmed)
  font-size: 18px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

<<<<<<< HEAD
a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: underline;
}

.modifier {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  vertical-align: middle;
=======


a:hover {
  text-decoration: underline;
}

img{
height:150px;
width:150px;
padding-left:200px;
>>>>>>> e14d299 (ahmed)
}

.supprimer {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  vertical-align: middle;
}

.Telechargement {
  display: block;
  margin-top: 20px;
}

.Telechargement img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  vertical-align: middle;
}

