/* inscription_etudiant.css */

form {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input,
form select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

form button {
  padding: 10px 20px;
}


