/*style body :*/

body {
	background-color: white ;
	}
.logo1{
	width: 100%;
	padding: 0 ;
	margin: 0;
}
/* Styles pour la barre de navigation */
nav {
	background-color: blue;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	padding: 0 ;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	height: 100%;
}

nav li {
	margin-left: 20px;
}

nav a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	transition: color 0.2s;
	padding: 10px;
}

nav a:hover {
	color: gray;
}

/* Styles pour le logo */
.logo {
	display: block;
	margin: 0 ;
	width: 100%;
	height: 100px;
	background-size: 100%;
	background-repeat: no-repeat;
}

/* Styles pour la section vide */
section {
	padding: 20px;
}

/* Styles pour le bas de la page */
.modifier{
	background-color: green;
	width: 200px;
	height: 200px;
	}
.supprimer{
	background-color: red;
	width: 200px;
	height: 200px;
}

.logo0{
width:100px;
height:100px;
align-: center;
margin:  0 0 0 37% ;
}

.hom{
color:black;
}


