body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

h2 {
  color: #333;
}

p {
  font-size: 18px;
  color: #666;
}

form {
  margin-top: 20px;
}

button[type="submit"] {
  background-color: #ff0000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #cc0000;
}

a {
  color: #333;
  margin-left: 10px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
